.wrapper-input {
  margin: size(12) 0;
  position: relative;

  .form-label {
    font-size: size(14);
    margin-bottom: size(6);
  }

  .form-input {
    padding: size(8) size(10);
    background: $color-seven;
    border: 1px solid $color-six;
    border-radius: 6px;
    width: 100%;
  }

  .button-show-password{
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: size(2) size(10);
    border-radius: 6px;
  }
}