.wrapper-login-pages {
  .login{
    @include container();
  }
  
  .titulos{
    font-size: size(18);
    margin: 0 0 10px 0;
  }
  
  .x-small-text{
    font-size: size(12);
  }
  
  .button-default{
    padding: size(6) size(12);
    border-radius: 10px;
    cursor: pointer;
    background: yellow;
    transition: 0.3s;
    border: none;
  
    &:hover{
      background: rgb(221, 221, 19);
    }
  
    &:disabled{
      opacity: .5;
      cursor: initial;
  
      &:hover{
        background: yellow;
      }
    }
  }
  
  .wrapper-input{
    margin: size(10) 0;
  
    .form-label{
      font-size: size(14);
      margin-bottom: size(5);
    }
  
    .form-input{
      padding: size(5) size(10);
      background: #fff;
      border: 1px solid #eee;
      border-radius: 10px;
      width: 100%;
    }

    .mensage-error{
      font-size: size(12);
      color: red;
      margin-top: size(5);
    }
  }
}
