@function size($size) {
  @return calc($size/ 16)+rem;
}

@mixin fontSize($fontSize, $lineSize: 10) {
  font-size: size($fontSize);
  line-height: size($fontSize + $lineSize);
}

@mixin mq($width, $type: max) {
  @media (#{$type}-width: ($width + px)) {
    @content;
  }
}

@mixin container() {
  max-width: size(1000);
  padding: 0 size(16);
  margin: 0 auto;
}

@mixin display-flex($a: center, $j: center, $f: row) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $f;
}

@mixin dark() {
  body.darkmode & {
    @content
  }
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 8px;

    &-thumb {
      background-color: rgba($color: $color-nine, $alpha: .6);
      border-radius: 2px;
    }

    &-track {
      background-color: $color-six;
      border-radius: 2px;
    }
  }
}