* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-type;
  font-family: $type-first;
  position: relative;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-type;

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px $color-four;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: size(16);
  font-family: $type-first;
  color: $color-type;

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px $color-four;
  }
}