@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

$type-first: Helvetica, Arial, sans-serif;
$type-second: 'Spectral', Georgia;

$color-type: #333;

$color-one: #75C2F6;
$color-two:#02416d;
$color-three: #fcd642;
$color-four: #f9ac04;
$color-five: #6c4f14;

$color-six: #eee;
$color-seven: #ffffff;

$color-eight: #e4191f;

$color-nine: #535353;