.image-modal {
  height: size(600);

  img {
    height: 100%;
    border-radius: 6px 0 0 6px;
    object-fit: cover;
  }
}

.infos-modal {
  height: size(600);
  padding: size(20);
  display: grid;
  grid-template-rows: auto 1fr auto;

  .infos-autor {
    @include display-flex($j: space-between);
    margin-bottom: size(20);
    color: $color-nine;

    a {
      text-decoration: underline;
      color: $color-nine;

      &:hover {
        color: $color-two;
      }
    }

    span {
      @include display-flex;

      img {
        margin-right: size(10);
      }
    }
  }

  .infos-itens {

    @include display-flex($j: flex-start);
    gap: size(20);

    li {
      @include fontSize(18);
      @include display-flex();

      &::before {
        content: '';
        width: size(10);
        height: size(10);
        background: $color-four;
        display: inline-block;
        border-radius: 3px;
        margin-right: size(5);
      }
    }
  }
}

.form-comentarios {
  display: grid;
  grid-template-columns: 1fr 50px;

  .textarea-coment {
    resize: none;
    padding: size(8) size(10);
    background: $color-seven;
    border: 1px solid $color-six;
    border-radius: 6px;
    width: 100%;
  }

  .btn-comentar {
    cursor: pointer;
    background: none;
    border: none;
    transition: .3s;
    margin-left: size(5);


    svg {
      transform: rotate(15deg);
      transition: .3s;
    }

    &:hover svg,
    &:focus svg {
      fill: $color-four;
      
    }

    &:focus{
      box-shadow: none;
    }
  }
}

.list-comments {
  overflow-y: auto;
  margin: size(30) 0;

  &::-webkit-scrollbar {
    width: 8px;

    &-thumb {
      background-color: rgba($color: $color-nine, $alpha: .6);
      border-radius: 4px;

    }

    &-track {
      background-color: $color-six;
      border-radius: 4px;
    }
  }

  li {
    @include fontSize(16);
    padding: size(15) 0;
    border-bottom: 1px solid $color-six;

    &:last-child {
      border: none;
    }

    .title-time {
      @include display-flex($j: flex-start);

      b {
        @include fontSize(16);

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        @include display-flex();
        @include fontSize(13);
        color: $color-nine;

        &::before {
          content: '';
          width: size(6);
          height: size(6);
          background: $color-nine;
          display: inline-block;
          margin: 0 size(10);
          border-radius: 100%;
        }
      }
    }

    .comment {
      @include fontSize(16);
    }
  }
}